

/* a class for buttons that makes them transparent with a black outline */
.button {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 1px;
  color: #000;
  cursor: pointer;
  font-size: 1em;
  /* vertical padding */
  padding: 0.5em 1em;
  font-family: 'Roboto Slab', serif;
}


/* on hover, make the button border turn grey */
.button:hover {
  border-color: #888;
}